body {
  margin: 0;
  font-family: "Public Sans", sans-serif; /* <-- TAMBAHKAN INI */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-aktif{
  background-color: #22668a;
  color: white;
}
.btn-pointer {
  cursor: pointer !important;
}